openapi: 3.0.0
info:
  title: Umbby API
  description: >
    Umbby is a group creation and management tool, where members can organize groups and
    sub groups and can schedule meetings, take roll, collect dues, etc.
  version: 1.0.0

servers:
  - url: 'https://api.umbby.com'

paths:
  # Groups

  /groups:
    post:
      summary: Create a new group.
      operationId: createGroup
      tags:
        - Groups
      requestBody:
        description: The group to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        201:
          description: The group was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: The submitted group is invalid.

    put:
      summary: Update an existing group.
      operationId: updateGroup
      tags:
        - Groups
      requestBody:
        description: The group to update. Must include an ID.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        200:
          description: The group was updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        400:
          description: The submitted group is invalid.
        404:
          description: Unable to update group

  /groups/{id}:
    get:
      summary: Get a group by its ID.
      operationId: getGroupById
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          description: Group ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        404:
          description: Not found

    delete:
      summary: Deactivate a specified group
      description: >
        Deactivates a group, making it no longer accessible. Group data is not deleted and
        the group can be reactivated. This will also deactivate any group member records
        but will not deactivate the member accounts.
      operationId: deleteGroup
      tags:
        - Groups
      parameters:
        - name: id
          in: path
          description: Group ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: The specified group successfully deactivated.
        404:
          description: Unable to find the specified group.

  # Group Members

  /groups/{id}/members:
    post:
      summary: Add a set of members to a group.
      operationId: addGroupMembers
      tags:
        - Group Members
      parameters:
          - name: id
            in: path
            description: Group ID
            required: true
            schema:
              type: integer
      requestBody:
        description: The members to add to a group.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMembers'
      responses:
        200:
          # TODO: Add details and return values of those that were added
          description: Members were successfully added to the group.
        400:
          # TODO: Add error messaging for what was bad in the request
          description: Bad request.
        404:
          # TODO: Add error messaging response with the group and/or user details that were not found
          description: Either the group or the users were not found.

    get:
      summary: Get members of a group.
      operationId: getGroupMembers
      description: >
        Retrieve a paged list of members of the group, based on search parameters.
        Default list will return a configured maximum number of entries.
      tags:
        - Group Members
      parameters:
        - name: id
          in: path
          description: Group ID
          required: true
          schema:
            type: integer

        - name: q
          in: query
          description: >
            Query string to be used for searching. Will search within all name and email
            address fields. Query matches will be anywhere within the string.
          required: false
          schema:
            type: string

        - name: type
          in: query
          description: Specifies the type of members to return. By default, it returns active members.
          schema:
            type: string
            enum:
              - all
              - active
              - owners
              - auditors
              - members
              - inactive

        - name: limit
          in: query
          description: >
            The maximum number of records to return. Default is configured at
            the application level.
          required: false
          schema:
            type: integer

        - name: after_id
          in: query
          description: >
            The starting point for the search set. If field is omitted, then the set
            starts at the first matching member.
          required: false
          schema:
            type: integer

      responses:
        200:
          description: Members meeting the search criteria
          content:
            application/json:
              schema:
                # TODO: Change this to search results object (HATEAOS)
                $ref: '#/components/schemas/GroupMembers'

  # TODO: Change this to a group request so more than one member account can be updated at once.
  /groups/{groupId}/members/{memberId}:
    put:
      summary: Update a member of a group.
      operationId: updateGroupMember
      tags:
        - Group Members
      parameters:
        - name: groupId
          in: path
          description: Group ID
          required: true
          schema:
            type: integer

        - name: memberId
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
      requestBody:
        description: The members to add to a group.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupMember'
      responses:
        200:
          description: Group member updated successfully.
          content:
            application/json:
              schema:
                # TODO: Change object to include search result criteria (HATEAOS)
                $ref: '#/components/schemas/GroupMember'
        400:
          description: Group member update request was invalid.
        404:
          description: Unable to find specified group member.

    # TODO: Change this to a group delete
    delete:
      summary: Deactivate group member
      description: >
        Sets the status of a group member to inactive. Does not remove the record.
        Does not delete the member account.
      operationId: deactivateGroupMember
      tags:
        - Group Members
      parameters:
        - name: groupId
          in: path
          description: Group ID
          required: true
          schema:
            type: integer

        - name: memberId
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Members were successfuly removed from the group.

  # Members

  /members:
    post:
      summary: Create member accounts
      description: >
        Create one or more member accounts and optionally add them to specified groups.
        Member ID field must be blank.
      operationId: createMember
      tags:
        - Members
      requestBody:
        description: The member to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberWithGroups'
      responses:
        201:
          description: The member was created successfully.
          content:
            application/json:
              schema:
                # TODO: Change this into a list object with results and paging
                $ref: '#/components/schemas/MemberWithGroups'
        400:
          # TODO: Create an error object with the appropriate details
          description: One or more of the submitted members was invalid.

    put:
      summary: Update member accounts
      description: >
        Updates member-specific properties for one or more member accounts.
        Cannot add or remove a member from a group.
      operationId: updateMember
      tags:
        - Members
      requestBody:
        description: The member to update.
        content:
          application/json:
            schema:
              # TODO: Change this into a list object
              $ref: '#/components/schemas/Member'
      responses:
        200:
          description: Member updated successfully.
          content:
            application/json:
              schema:
                # TODO: Change this into a list object with results and paging
                $ref: '#/components/schemas/MemberWithGroups'
        400:
          # TODO: Create an error object with the appropriate details
          description: One or more of the submitted members was invalid.
        404:
          description: Unable to find the specified member account.

    get:
      summary: Get a list of member accounts
      description: >
        Get a paged list of member accounts based on query criteria. If no query is
        specified, then returns the users alphabetically.
      operationId: getMembersList
      tags:
        - Members
      parameters:
        - name: q
          in: query
          description: >
            Query string to be used for searching. Will search within all name and email
            address fields.
          required: false
          schema:
            type: string

        - name: limit
          in: query
          description: >
            The maximum number of records to return. Default is configured at
            the application level.
          required: false
          schema:
            type: integer

        - name: after_id
          in: query
          description: >
            The starting point for the search set. If field is omitted, then the set
            starts at the first matching member.
          required: false
          schema:
            type: integer

        - name: groups
          in: query
          description: Include or omit member groups. Default is true.
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: Search performed successfully
          content:
            application/json:
              schema:
                # TODO: Change this into a list object with results and paging
                $ref: '#/components/schemas/MemberWithGroups'

  /members/{id}:
    get:
      summary: Get a member by its ID
      operationId: getMemberById
      tags:
        - Members
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer

        - name: groups
          in: query
          description: Include or omit member groups. Default is true.
          required: false
          schema:
            type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberWithGroups'
        404:
          description: Not found

    delete:
      summary: Deactivate a member account
      description: >
        Deactivates a member account and deactivates all its group memberships.
      operationId: deactivateMember
      tags:
        - Members
      parameters:
        - name: id
          in: path
          description: Member ID
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Member was deactivated.
        404:
          description: Member was not found.

components:
  schemas:
    Group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        dateCreated:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/Member'
      required:
        - name

    GroupMember:
      type: object
      properties:
        member:
          $ref: '#/components/schemas/Member'
        groupOwner:
          type: boolean
        activeMember:
          type: boolean
        addedToGroup:
          type: string
          format: date-time
        removedFromGroup:
          type: string
          format: date-time

    GroupMembers:
      type: object
      properties:
        groupId:
          type: integer
        members:
          type: array
          items:
            $ref: '#/components/schemas/GroupMember'
        count:
          type: integer
        totalMembers:
          type: integer

    Member:
      type: object
      properties:
        id:
          type: integer
        shortName:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        memberSince:
          type: string
          format: date-time
        active:
          type: boolean
        inactiveSince:
          type: string
          format: date-time
      required:
        - id

    MemberWithGroups:
      allOf:
        - $ref: '#/components/schemas/Member'
        - type: object
          properties:
            groups:
              type: array
              items:
                $ref: '#/components/schemas/MemberGroup'

    MemberGroup:
      type: object
      properties:
        groupId:
          type: integer
        group:
          $ref: '#/components/schemas/Group'
        groupOwner:
          type: boolean
        activeMember:
          type: boolean
        addedToGroup:
          type: string
          format: date-time
        removedFromGroup:
          type: string
          format: date-time

